.wrap {
    background-color: transparent;
}

.menuList {
    display: flex;
    justify-content: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}

.link {
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #ffff;
}