.wrap {
    margin: auto;
    width: 300px;
    background-color: rgba(233, 233, 233, 0.384);
    border: 3px solid rgb(32, 176, 243);
    border-radius: 30px;
    border-width: 12px;
    padding:0 10px;
}
.title { 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
}