.wrap {
    min-height: 93vh;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: 200px 1fr;
    margin: 30px 0;
    min-width: 500px;
    min-height: 500px;
    background: linear-gradient(179.96deg, rgba(226, 123, 160, 0.83) 0.04%,
     rgba(105, 174, 170, 0.8) 0.05%, rgba(31, 103, 134, 0.8) 99.96%);
    border-radius: 5px;
}

.preloader {
    background: url('./Spinner.svg');
    width: 200px;
    height: 200px;
    background-size: contain;
    justify-self: center;
}

.error {
    text-align: center;
    font-size: 2rem;
    color: #296497;
}

.subtitle {
    text-align: center;
    color: #cdfef0;
}

.list {
    font-size: 18px;
    color: #cdfef0;
    justify-self: start;
}

.item {
    color: #cdfef0;
    text-decoration: none;
}

.item:hover{
    text-decoration: underline;
}

.innerContainer {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 40px 120px;
    justify-content: center;
}

.login {
    font-size: 2rem;
    color: #FFFFFF;
}

.avatar {
    width: 120px;
    height: 120px;
}

