.checkboxInput[type="checkbox"] {
    display: none;
}

.checkboxLabel {
    cursor: pointer;

}

.checkboxLabel::before {
    content:"";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('./ChekboxRemove.svg');
    vertical-align: middle;
    margin-left: 5px;
}


