.checkboxInput[type="checkbox"] {
    display: none;
}

.checkboxLabel {
    cursor: pointer;
}

.checkboxLabel::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('./ChekboxDone_A.svg');
    vertical-align: middle;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.checkboxInput[type="checkbox"]:checked + .checkboxLabel::before  {
    transition: all .3s ease;
    background: url('./ChekboxDone_C.svg');
}

